@use '../../assets/styles/variables/colors';
main {
    flex: 1;
}
.bg-dark{
    background-color: #12002b;
    .sign-in-content {
        box-sizing: border-box;
        background-color: white;
        width: 300px;
        margin: 0 auto;
        margin-top: 3rem;
        padding: 2rem;
        h1 {
            font-size: 1.5em;
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
            font-weight: bold;
        }
        .error {
            color: rgb(235, 9, 9);
            margin-top: 10px;
        }
    }
    .input__wrapper {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: 1rem;
        label {
            font-weight: bold;
        }
        input {
            padding: 5px;
            font-size: 1.2rem;
        }
        .error__input {
            color: red;
        }
    }
    .input__remember {
        display: flex;
        label {
            margin-left: 0.25rem;
        }
    }
    .sign-in-button {
        display: block;
        width: 100%;
        padding: 8px;
        font-size: 1.1rem;
        font-weight: bold;
        margin-top: 1rem;
        border-color: colors.$primary-color;
        background-color: colors.$primary-color;
        color: #fff;
    }
    

}