@use '../../assets/styles/variables/colors';

.main {
    background-color: colors.$color-dashboard;
    color: colors.$secondary-color;
    flex: 1;
    .user {
        padding: 30px 0px;
        .user__info {
            font-size: 2em;
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            font-weight: bold;
        }
    }   
}